# ==========================================
# 1. SPAZZATURA DI CMAKE E COMPILATORI
# ==========================================
# Ignora le cartelle CMakeFiles ovunque si trovino
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CMakeScripts/

# ==========================================
# 2. OUTPUT DI COMPILAZIONE (BIN & LIB)
# ==========================================
# Ignora i file oggetto e le librerie in generale
*.o
*.a
*.so
*.dylib
*.out

# Gestione delle cartelle bin/ e lib/
# Per permettere eccezioni (es. libmsg.a), non dobbiamo ignorare la cartella stessa
# ma il suo contenuto.
**/bin/*
**/lib/*
build/*
_deps/
.raylib/

# ECCEZIONI: File che vogliamo assolutamente su GitHub
!**/bin/lib/
!**/bin/lib/libmsg.a
!**/bin/lib/libcommunication_library.a
!**/bin/lib/libActivity_library.a

# Altre eccezioni per la cartella build/
!build/FlightSim
!build/MonitorApp
!build/*.glb
!build/*.wav

# ==========================================
# 3. PYTHON E AMBIENTI VIRTUALI
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
ambiente_isolato/

# ==========================================
# 4. IDE E CONFIGURAZIONI (Eclipse, PyDev, etc)
# ==========================================
.project
.cproject
.pydevproject
.settings/
.metadata/
