# ==========================================
# 1. SPAZZATURA DI CMAKE E COMPILATORI
# ==========================================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CMakeScripts/

# Ignora le cartelle di output della compilazione (i file .o) e directory temporanee
**/output/
temp_gen_*/

# ==========================================
# 2. OUTPUT DI COMPILAZIONE (BIN & LIB)
# ==========================================
# Ignora file oggetto, librerie sparse e marker di compilazione
*.o
*.a
*.so
*.dylib
*.out
*.done

# Ignora il contenuto della cartella bin tranne tools
Project_Kernel_Trace/bin/**
!Project_Kernel_Trace/bin/tools/
!Project_Kernel_Trace/bin/tools/**

Project_Kernel_Trace/build/**

# ==========================================
# 3. PYTHON E AMBIENTI VIRTUALI
# ==========================================
__pycache__/
*.py[cod]
venv/
.venv/
env/
ambiente_isolato/

# ==========================================
# 4. IDE E CONFIGURAZIONI
# ==========================================
.project
.cproject
.pydevproject
.settings/
.metadata/
.vscode/
.idea/
.history/
