<?xml version="1.0" encoding="utf-8"?>
<AppConfig>
    <Tasks>
        <Task>
            <Name>Activity_1</Name>
            <Period_ms>1800</Period_ms>
            <Deadline_ms>1800</Deadline_ms>
            <Parameter>20</Parameter>
        </Task>
        <Task>
            <Name>Activity_2</Name>
            <Period_ms>800</Period_ms>
            <Deadline_ms>800</Deadline_ms>
            <Parameter>10</Parameter>
        </Task>
    </Tasks>
</AppConfig>
